/*______________________Partie majeur____________________________*/
header{
}

body {
  place-content: center;

  margin-right: auto;
  margin-left: auto;
  font-size: 1.5rem;
  line-height: 1.5;
  background-color: var(--background);
  color: var(--text);
}

main {
    padding: 20px;
}

section {
    margin-bottom: 2rem;
}

footer {

	background-color: #EC5BDB;
	height: 1000px;
	text-align: center;
	color: #fff;
}

/* ____Typo de l'entreprise*_____*/
@font-face {
  font-family: 'TypoTexte';
  src: url('ressources/typo/Ubuntu.ttf') format('truetype');
}

@font-face {
  font-family: 'TypoTitre';
  src: url('ressources/typo/Workbench.ttf') format('truetype');
}
/* _____________________________*/

p{
	font-family: 'TypoTexte',arial;
}

code {
	font-family: 'TypoTitre',arial;
}



/*______________________Contact____________________________*/

#contact{
	background-color: #EC5BDB;
}

#contactForm{
	display: flex;
    flex-direction: column; /* Les éléments sont alignés en colonne */
    gap: 10px; /* Espace entre les box */
}

#contact .submit {
  background-color: #04AA6D;
  border-radius:15px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

#contact #name {
  background-color: #1C1E30;
  font-weight: bold; 
  border-radius:15px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  margin-right:90px;
}

@media screen and (max-width: 500px) {
	
  #contact #name {
  background-color: #1C1E30;
  font-weight: bold; 
  border-radius:15px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  margin-right:0px;
}

}

#contact #email {
  background-color: #1C1E30;
  font-weight: bold; 
  border-radius:15px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

#contact label{
	font-family: 'Poppins', sans-serif;
}

/*______________________Texte coloré____________________________*/

:root {
  --color-primary: hsl(310, 100%, 65%);
  --color-secondary: hsl(160, 100%, 65%);
  --background: hsl(234, 25%, 15%);
  --text: hsl(310, 100%, 95%);
}

::selection {
  background-color: var(--color-primary);
  color: var(--background);
  -webkit-text-fill-color: var(--background);
}




h1 {
  color: var(--color-primary);
}

blockquote {
  border-left: 5px solid;
  margin-left: 0;
  padding: 1rem 0 1rem 2rem;
  font-size: 2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    35deg,
    var(--color-primary),
    var(--color-secondary)
  );

  p {
    margin: 0;
  }
}

/*________________________________Bannière______________________________________*/

    img {
      width: 100%; /* L'image occupe toute la largeur disponible */
      height: auto; /* Conserve les proportions */
    }

/*______________________________Navigation______________________________________*/

@media screen and (max-width: 1000px) {
    .topnav {
		flex-wrap: wrap;
        width: auto;
        font-size: 10px;
		display:block;

    }

    .topnav a {
        padding: 2px;
    }

    .topnav .btn {
        padding: 2px;
    }

    .topnav .btn a span {
        display: none; /* Masquer le texte */
    }

    .topnav .btn i {
        font-size: 20px;
        color: white;
    }
}


.bg-img {
  /* "https://img.goodfon.com/original/4096x2304/7/6a/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-ret-35.jpg"*/
  background-image: url("ressources/images/degrade_header.svg");
	
  /* Centre l'image */
  background-repeat: no-repeat;
  height: 300px;


}

/* Position the navbar container inside the image */
.container {
  position: fixed; /* Fixe la barre en haut */
  top: 0; /* Position en haut */
  left: 0;
  margin: 20px;
}

/* The navbar */
.topnav {
  flex-wrap: wrap;
  overflow: hidden;
  border-radius:30px;
  background-color: hsla(0, 2%, 50%, 0.3); /* Rouge à 30% de transparence */
}

/* Navbar links */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  		font-family:'TypoTexte',arial;

}

/*[ bouton (navigation) ]*/
.btn {
  border: 2px solid black;
  background-color: Transparent;
  border-radius: 10px;
  border-color:Transparent;
  color: white;
  padding: 7px 28px;
  font-size: 25px;
  cursor: pointer;
}

/* Green */
.success {
  color: green;
}

.success:hover {
  background:  #EC5BDB;
  color: #EC5BDB;
}

/* Blue */
.info {
  color: dodgerblue
}

.info:hover {
  background:  #EC5BDB;
  color: #EC5BDB;
}

/* Orange */
.warning {
  color: orange;
}

.warning:hover {
  background:  #EC5BDB;
  color: #EC5BDB;
}

/* Red */
.danger {
  color: #EC5BDB
}

.danger:hover {
  background:  #EC5BDB;
  color: #EC5BDB;
}

/* Gray */
.default {
  color: black;
}

.default:hover {
  background: #e7e7e7;
}



/*______________________Carte des membres de l'équipe____________________________*/

/* Style de la liste */
.team-list {
    list-style-type: none; 
    display: flex;
	flex-wrap: wrap;
	justify-content: center;	
	width: 100%;

}



/* Style de chaque membre */
.team-member {
	font-family: 'TypoTexte', sans-serif;
	background-color: #f4aded;
    border-radius: 15px; /* Bordures arrondies */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
    width: 200px; /* Largeur fixe pour chaque cadre */
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Aligne le contenu verticalement */
	align-items: center; /* Centre le contenu horizontalement */
	margin:10px;

}

/* Image */
.member-image img {
    border-radius: 50%; 
    width: 100px;
    height: 100px;
	object-fit: cover;
}

/* Style des informations */
.member-info h2 {
	background-color:#FF4CE1;
	border-radius:5px;
	color : #1C1E30;
    margin: 10px 0 5px;
	width:auto;
}

.member-info p {
	margin-top: 0;
	flex: 1; 
    margin: 0;
    color: #ffffff;
	background-color:#1C1E30;
	border-radius:5px;
		width:auto;

}

/* Agrandit légèrement au survol */
.team-member:hover {
    transform: scale(1.01); 
    transition: transform 0.3s ease;
}

/*_____________________Barre de progression_____________*/

* {box-sizing:border-box}

.container_progress {
  width: 100%; 
  background-color: #ddd; 
  border-width :1px;
  border-radius:150px;
}


.progression {
	width: 25.4%; 
	background-color: #04AA6D;
	border-radius: 150px;
	text-align:center;
	} 
	
/*_________________Lien vers les projets__________________*/

.LinkProject{
	text-align:center;
	margin: 20px;
}

.button {
  border-radius: 15px;
  background-color: #FF4CE1;
  border: none;
  color: #1C1E30;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 325px;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


/*_____________________Carte de nos valeurs_________________*/

#liste_valeur{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  max-width: 300px;
  margin: 5px;
  text-align: center;
  font-family: 'TypoTexte', arial;
  border-radius : 10px;
  background-color: #f4aded;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

/*_________________Image footer_____________________________*/

.img_footer{

  display: block;
  margin-bottom: -40px;
  background: url('ressources/images/degrade_footer.svg') no-repeat center bottom;
  background-size: cover;
  height: 300px;
}

/*_________________icônes pour les réseaux__________________*/

.fa {

  padding-left:2px;
  padding-right: 2px;
  padding-top: 25px;
  padding-bottom: 25px;

  font-size: 70px;
  width: 70px;
  
  text-decoration: none;
  border-radius: 50%;
  color:#FFFFFF;
}

.fa:hover {
  opacity: 0.7;
}


#nos_reseaux {
  display:flex;
  place-content: center;
  align-items:center;
  border-radius:50px;
  background: #1C1E30;
  color:  #EC5BDB;
}

#nos_reseaux p {
	font-family: 'Poppins', sans-serif;
	font-size:75%;
	padding-left:30px;
}

