/*______________________Partie majeur____________________________*/
* {box-sizing:border-box}

main {
    padding: 20px;
}

section {
    margin-bottom: 2rem;
}

body {
  place-content: center;

  margin-right: auto;
  margin-left: auto;
  font-size: 1.5rem;
  line-height: 1.5;
  background-color: var(--background);
  color: var(--text);
}

@media only screen and (max-width: 767px) {
	h1{
		 width: 75%;
	}
}

/* ____Typo de LightCycle*_____*/
@font-face {
  font-family: 'TypoTexte';
  src: url('../ressources/typo/PushPinsBold.ttf') format('truetype');
}

@font-face {
  font-family: 'TypoTitre';
  src: url('../ressources/typo/Laserian.TTF') format('truetype');
}
/* _____________________________*/


h1 {
  background:var(--color-primary);
  border: none;
  color:var(--background);
  padding: 10px 20px;
  display: inline-block;
  font-weight: 600;
  margin-left:5%;
  width: 70%;
  text-transform: uppercase;
  transform: skew(21deg);
  
   font-size: 17px;
}

p {
	margin :10px;
	font-family:'TypoTexte', sans-serif;
	font-size:20px;

}

.alt-char {
  font-family: Arial, sans-serif;
  font-weight:600px;
  font-style:bold;
}

code {
	font-family:'TypoTitre';
}


/*___________________________Arrière plan____________________________*/


.bg-img {
  /* "https://img.goodfon.com/original/4096x2304/7/6a/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-ret-35.jpg"*/
  background-image: url("../ressources/images/llline.svg");
	

  height: auto;


  /* Centre l'image */
  background-repeat: no-repeat;
  background-size: cover;

}

/*___________________________Texte coloré____________________________*/

:root {
  --color-primary: hsl(354, 70%, 50%);
  --color-secondary: hsl(160, 100%, 65%);
  --background: hsl(211, 53%, 29%);
  --text: hsl(310, 100%, 95%);
}

::selection {
  background-color: var(--color-primary);
  color: var(--background);
  -webkit-text-fill-color: var(--background);
}



blockquote {
  margin-left: 0;
  padding: 1rem 0 1rem 2rem;
  font-size: 2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    35deg,
    var(--color-primary),
    white
  );

  p {
    margin: 0;
  }
}

/*___________________________Sommaire____________________________*/

nav {
	display :flex;
	flex-wrap: wrap;
	justify-content:center;
}

.SommaryButton a{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: var(--text);
  background-color:  var(--color-primary);
;
  border: 2px solid   var(--color-primary);
  border-radius :10px;
  margin :10px;
  
  
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;

}

.SommaryButton a span{
  position: relative;
  font-family:'TypoTexte';
  z-index: 2;
  color: var(--text);

}


.SommaryButton a:hover{
  background-color: var(--background-clip);
}

/*___________________________Galerie d'image____________________________*/

.scrollable-content {
	display: flex;
	padding-top:10px;
	scroll-behavior: smooth;
	overflow-x: auto;

}

.item {
    flex: 0 0 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
	  overflow: hidden;


}

.item img {
    width: 100%;
    height: 100%;
	object-fit: cover; /* remplit le cadre sans déformer l'image */
    border-radius: 10px;

}

/*___________________________Section téléchargement____________________________*/

.downloadButton{
  display: flex;
  align-items: center;
  justify-content: center;
}

.downloadButton a{
  text-decoration: none;
  color:#fff;
}

.downloadButton button{
  background-color: black; 
  border-radius:10px;
  border: none; 
  color: white; 
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
  padding:20px;
  padding-right:100px;
  padding-left:100px;
  margin:10px;

  align-items: center;
}


.downloadButton button:hover {
  background-color: var(--color-primary);
}